.container
  .canvas-container
    .mountains
      .peak01
      .peak02
      .peak03
      .peak04
    .sun
    .antlers
      .main
      .top-circle
      .middle-circle
      .bottom-circle
    .deer-head
      .head-triangle
      .head
      .head-shadow
      .ear
    .concave-body-fix
    .neck
    .body
      .tail
    .front-legs
      .right-leg
      .left-leg
    .back-legs
      .thigh
      .back-right
      .back-left
    .shadow